.pre-form-containers {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	grid-template-rows: 3em 3em 3em 3em 3em 3em 3em 3em 6em;
	gap: 10px 10px;
	grid-template-areas:
		'name name-value'
		'code code-value'
		'type type-value'
		'price price-value'
		'provider provider-value'
		'signed signed-value'
		'dateCreated dateCreated-value'
		'dateEnded dateEnded-value'
		'des des-value';
}
.name {
	width: 120px;
	grid-area: name;
}
.code {
	width: 120px;
	grid-area: code;
}
.type {
	width: 120px;
	grid-area: type;
}
.price {
	width: 120px;
	grid-area: price;
}
.provider {
	width: 120px;
	grid-area: provider;
}
.signed {
	width: 120px;
	grid-area: signed;
}
.dateCreated {
	width: 120px;
	grid-area: dateCreated;
}
.dateEnded {
	width: 120px;
	grid-area: dateEnded;
}
.des {
	width: 120px;
	grid-area: des;
}
.name-value {
	grid-area: name-value;
}
.code-value {
	grid-area: code-value;
}
.type-value {
	grid-area: type-value;
}
.price-value {
	grid-area: price-value;
}
.provider-value {
	grid-area: provider-value;
}
.signed-value {
	grid-area: signed-value;
}
.dateCreated-value {
	grid-area: dateCreated-value;
}
.dateEnded-value {
	grid-area: dateEnded-value;
}
.des-value {
	grid-area: des-value;
}

.ant-form-item-label {
	display: flex;
}

.ant-form-item-label > label {
	width: 120px;
}

.button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
}
