.premise-container ant-card-head {
	display: flex!;
	flex-direction: row-reverse!;
	margin-bottom: 50px;
}

.searchBar-addBar {
	display: flex;
	justify-content: space-between;
	margin: 0 20px 0 20px;
}
