.account {
	display: flex;
	justify-content: center;
}

.avatar {
	width: 20%;
}

.other {
	width: 40%;
}

.account-info {
	display: flex;
	flex-direction: row;
	height: 400px;
}

.account-line {
	display: flex;
	font-size: larger;
	padding-bottom: 20px;
}

.account-label {
	width: 150px;
	font-weight: 600;
}

/* .account-value {
} */
